// OPTCUT
const max=2000;
      oo=1000000000;
var s:array[0..max] of longint;
    n,i,j,k,p:longint;
    t,f:array[1..max,1..max] of longint;
begin
readln(n);
for i:=1 to n do
    begin
         read(s[i]);
         inc(s[i],s[i-1]);
         t[i,i]:=i;
	   f[i,i]:=0;
    end;
 
for j:=2 to n do
    for i:=j-1 downto 1 do
        begin
             f[i,j]:=oo;
             for k:=t[i,j-1] to t[i+1,j] do
                 if k<j then
                    begin
                         p:=f[i,k]+f[k+1,j]+s[j]-s[i-1];
                         if f[i,j]>p then
                            begin
                                 f[i,j]:=p;
                                 t[i,j]:=k;
                            end;
                    end; 
        end;
write(f[1,n]);   
end.
